html, body {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
    margin: 0;
}
h3 {
    font-size: 30px;
}

.menu {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 5%;
}
.menu_item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;

    background: #a7cdee;
}
.menu_item:hover {
    background: #8cbce5;
}
.menu_item.active {
    background: #5799d3;
}
.menu_item > h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
    height: 1.5em;
}

.page_container, .page {
    display: flex;

    width: 100%;
    height: calc(100% - 5%);
}
.page:not(.active) {
    display: none;
}

.inputs, .results {
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 100%;

    padding: 20px;
}
.half {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: calc(100% - 40px);
    height: 50%;
}

.inputs_half label, .inputs_half input, .inputs_half div {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3em;
}
.inputs h2, .inputs input[type=range] {
    width: 100%;
}

.inputs label {
    width: 50%;
}
.inputs input[type=number] {
    width: 100px;
}